{% extends('layouts/layout.html.twig') %}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="text-shadow: #000000;color:white;">About Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->

<!-- recepie_header_area  -->
<div class="recepie_header_area">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-7" >
                <img src="..\img\res.png" style="height:500px;
                    width:600px;">
            </div>
            <div class="col-xl-5">
                <div class="recepie_text text-center">
                    <h3>Who we are ?</h3>
                    <p>we're a passionate team dedicated to sharing the joy of cooking with food enthusiasts worldwide. With a focus on creativity, flavor, and simplicity, we strive to inspire home chefs of all levels to explore new tastes and techniques. From mouthwatering recipes to helpful tips and tricks, we're here to empower you on your culinary journey. Join us as we celebrate the art of cooking and savor the delicious moments shared around the table.</p>

                </div>
            </div>



        </div>
    </div>
</div>
<!--/ recepie_header_area  -->

<!-- recepie_videos   -->

<!-- download_app_area -->
<div class="download_app_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="download_thumb">
                    <div class="big_img">
                        <img src="img/video/big_1.png" alt="">
                    </div>
                    <div class="small_01">
                        <img src="img/video/small_sm1.png" alt="">
                    </div>
                    <div class="small_02">
                        <img src="img/video/sm2.png" alt="">
                    </div>
                </div>
            </div>


            <div class="col-xl-6 col-md-6">
                <h2 style="text-align:center; font-size:30px;">what's our goal?</h2>
                <p style="text-align:center; font-size:20px;">Our mission is to be the smartest and most helpful food platform in existence We're fulfilling this mission by improving life in the kitchen for millions of home cooks around the world.<br> Our system of personalized discovery learns you better to serve you better, so the question "what's for dinner?" is answered before it's even asked.</p>
            </div>
        </div>
    </div>
</div>

<!-- dish_area start  -->
<h2 style="text-align:center;">
    What is there to gain from our website?</h2>
<div class="dish_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="dish_wrap d-flex">
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="img/recepie/recpie_4.png" alt="">
                        </div>
                        <h3>Our Community</h3>
                        <p>Join our cooking community where food enthusiasts from all walks of life come together to share their love for cooking. Whether you're a beginner or a seasoned chef, you'll find a welcoming space to connect with others who share your passion. .</p>
                    </div>
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="img/recepie/recpie_5.png" alt="">
                        </div>
                        <h3>Recipe Sharing Hub</h3>
                        <p>Explore a treasure trove of recipes curated by our diverse community of home cooks and culinary experts. Whether you're craving comfort food classics or seeking adventurous international flavors, you'll discover a wealth of inspiration right at your fingertips.</p>
                    </div>
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="img/recepie/recpie_6.png" alt="">
                        </div>
                        <h3> Learning recipes</h3>
                        <p>Embark on a culinary journey of discovery as you expand your cooking skills and knowledge with us. Our platform offers a wealth of resources, from step-by-step tutorials to informative articles, designed to help you master new techniques and elevate your cooking game..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ dish_area start  -->
<!-- latest_trand     -->
<div class="latest_trand_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="trand_info text-center">
                    <p>Thousands of recipes are waiting to be watched</p>
                    <h3>Discover latest trending recipes</h3>
                    <a href="recipes.php" class="boxed-btn3">View all Recipes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ latest_trand     -->
{% endblock%}


