{{ form_start(form) }}
<div class="searchBoxFloating">
    <div class="searchin">
        {{ form_row(form.search) }}
    </div>
    <button class="searchButton" id="bouton123">
        <i class="material-icons">
            search
        </i>
    </button>
        {{ form_end(form) }}
        <div>
            <ul class="result-box" id="searchResults">
            </ul> <!-- Container for search results -->
        </div>

</div>
